//comon variables
$header-height: 4rem;

// sidebar variables
$sidebar-width: 26rem;
$user-profile-height: 50rem;
$menu-height: 50rem;

//color
$color-orange: #F58529;
$color-jasmine: #FEDA77;
$color-vivid: #DD2A7B;
$color-grape: #8134AF;
$color-iris: #515BD4;

$color-grey-1: #aeaeae;
$color-grey-2: #e2e1e1;
$color-grey-light-1: #eee;
$color-grey-light-2: #f7f7f7;
$color-grey-dark-1: #585858;

